### Unix backups ###

*.bak
*.~
/include/*.bak
/include/*.~
/img/*.bak
/img/*.~

### Latex-related ###

*.aux
*.toc
*.synctex.gz
*.log
*.bst
/include/*.aux
/include/*.toc
/include/*.synctex.gz
/include/*.log
/include/*.bst

# The gitignore save file

.gitignore.save
